<div class="container"> 

		<div class="jumbotron">
         <div class="box">
            <div class="col-lg-12">
                        <hr>
                        <h2 class="intro-text text-center">Живопись</br></h2>
                        <hr>
            </div></br><!-- #col-lg-12  Живопись -->       
				    <div class="slider center" id = "gallery">
				        <div><img src=<%= asset_path('givopis1.jpg') %> title="Живопись" alt="Живопись" class="" height="350"></div>
								<div><img src=<%= asset_path('givopis2.jpg') %> title="Живопись" alt="Живопись" class="" height="350"></div>
								<div><img src=<%= asset_path('givopis3.jpg') %> title="Живопись" alt="Живопись" class="" height="350"></div>
								<div><img src=<%= asset_path('givopis4.jpg') %> title="Живопись" alt="Живопись" class="" height="350"></div>
								<div><img src=<%= asset_path('givopis5.jpg') %> title="Живопись" alt="Живопись" class="" height="350"></div>
								<div><img src="https://693a1bd9979a1f404145-4c0259fbf00f01bae696dd398c523543.ssl.cf3.rackcdn.com/350px-fb811523-ac2b-4913-8491-a6ba17fc5c6c.jpg" title="Location image 8" alt="Location image 8" class="" height="350"></div>
				    </div><!-- #slider center gallery -->

            <div class="col-lg-12">
                        <hr>
                        <h2 class="intro-text text-center">Рисунок</br></h2>
                        <hr>
            </div></br><!-- #col-lg-12  Рисунок -->  
				    <div class="slider center" id = "gallery2">
				        <div><img src=<%= asset_path('risunok1.jpg') %> title="Рисунок" alt="Рисунок" class="" height="350"></div>
								<div><img src=<%= asset_path('risunok2.jpg') %> title="Рисунок" alt="Рисунок" class="" height="350"></div>
								<div><img src=<%= asset_path('risunok3.jpg') %> title="Рисунок" alt="Рисунок" class="" height="350"></div>
								<div><img src=<%= asset_path('risunok4.jpg') %> title="Рисунок" alt="Рисунок" class="" height="350"></div>
								<div><img src=<%= asset_path('risunok5.jpg') %> title="Рисунок" alt="Рисунок" class="" height="350"></div>
								<div><img src=<%= asset_path('risunok6.jpg') %> title="Рисунок" alt="Рисунок" class="" height="350"></div>
								<div><img src=<%= asset_path('risunok7.jpg') %> title="Рисунок" alt="Рисунок" class="" height="350"></div>
								<div><img src=<%= asset_path('risunok8.jpg') %> title="Рисунок" alt="Рисунок" class="" height="350"></div>
				    </div><!-- #slider center -->
            
            <div class="col-lg-12">
                        <hr>
                        <h2 class="intro-text text-center">Декор</br></h2>
                        <hr>
            </div></br><!-- #col-lg-12  Декор -->  
				    <div class="slider center" id = "gallery3">
				        <div><img src=<%= asset_path('dekor1.jpg') %> title="Декор" alt="Декор" class="" height="350"></div>
								<div><img src=<%= asset_path('dekor2.jpg') %> title="Декор" alt="Декор" class="" height="350"></div>
								<div><img src=<%= asset_path('dekor3.jpg') %> title="Декор" alt="Декор" class="" height="350"></div>
								<div><img src=<%= asset_path('dekor4.jpg') %> title="Декор" alt="Декор" class="" height="350"></div>
								<div><img src="https://693a1bd9979a1f404145-4c0259fbf00f01bae696dd398c523543.ssl.cf3.rackcdn.com/350px-2dd4757f-5e7a-48bc-948b-5c7d7f27d166.jpg" title="Location image 7" alt="Location image 7" class="" height="350"></div>
								<div><img src="https://693a1bd9979a1f404145-4c0259fbf00f01bae696dd398c523543.ssl.cf3.rackcdn.com/350px-fb811523-ac2b-4913-8491-a6ba17fc5c6c.jpg" title="Location image 8" alt="Location image 8" class="" height="350"></div>
				    </div><!-- #slider center -->

            <div class="clearfix"></div>
		     </div><!-- #box -->
		 
		</div><!-- #jumbotron center --> 
</div><!-- #container -->		