<!DOCTYPE html>
<html>
<head>
  <title>art-jz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
        <div class="container">
            <div class="brand">Студия живописи и рисунка Жанны Завидовой</div>
            <div class="address-bar">ул. Покровка, д.27 | +7 916 657 57 19</div>
    		</div>
        		
    				<%= render 'layouts/header' %>
            <div class="container">
    		          <%= yield %>
    		    </div>

    		    <%= render 'layouts/footer' %>
        
</body>
</html>
