<!DOCTYPE html>
<html>
<head>
  <title>art-jz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
        <div class="container">
            <div class="brand">Студия живописи и рисунка Жанны Завидовой</div>
            <div class="address-bar">ул. Покровка, д.27 | +7 916 657 57 19</div>
    		</div>
        		
    				<%= render 'layouts/header' %>
            <div class="container">
    		          <%= yield %>
    		    </div>

            <div class="panel-heading center">
                 <a href="https://www.facebook.com/groups/409745725725001/" class="ig-b- ig-b-48"><img src="http://www.iconsdb.com/icons/preview/white/facebook-3-l.png" alt="Facebook"></a>
                 <a href="http://instagram.com/artjz.studia" class="ig-b- ig-b-48"><img src="http://www.iconsdb.com/icons/preview/white/instagram-l.png" alt="Instagram"></a>
                 <a href="#" class="ig-b- ig-b-48"><img src="http://static.iconsplace.com/icons/preview/white/vk.com-48.png" alt="Vkontakte"></a>
                 <a href="#" class="ig-b- ig-b-48"><img src="http://www.iconsdb.com/icons/preview/white/youtube-3-l.png" alt="Youtube"></a>
            </div>

    		    <%= render 'layouts/footer' %>
        
</body>
</html>
