<!DOCTYPE html>
<html>
<head>
  <title>art-jz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
</head>
<body>
        <div class="container">
            <div class="brand">Студия живописи и рисунка Жанны Завидовой</div>
            <div class="address-bar">ул. Покровка, д.27 | +7 916 657 57 19 |
              <a href="https://www.facebook.com/groups/409745725725001/" class="ig-b-48 ig-b-48" target="_blank"><img src="http://www.iconsdb.com/icons/preview/white/facebook-3-m.png" alt="Facebook"></a> 
              <a href="#" class="ig-b-48 ig-b-48" target="_blank"><img src=<%= asset_path('vk-s.png')%> alt="Vkontakte" /></a>
              <a href="http://instagram.com/artjz.studia" class="ig-b- ig-b-48" target="_blank"><img src="http://www.iconsdb.com/icons/preview/white/instagram-m.png" alt="Instagram"></a>
              <a href="#" class="ig-b-48 ig-b-48" target="_blank"><img src="http://www.iconsdb.com/icons/preview/white/youtube-3-m.png" alt="Youtube"></a>
            </div>
            
    	  </div>
        		
		    <%= render 'layouts/header' %>
        <div class="container">
		          <%= yield %>
		    </div>

        <div class="panel-heading center">
             <a href="https://www.facebook.com/groups/409745725725001/" class="ig-b-48 ig-b-48" target="_blank"><img src="http://www.iconsdb.com/icons/preview/white/facebook-3-l.png" alt="Facebook"></a>
             <a href="#" class="ig-b-48 ig-b-48" target="_blank"><img src=<%= asset_path('vk.png')%> alt="Vkontakte" /></a>
             <a href="http://instagram.com/artjz.studia" class="ig-b- ig-b-48" target="_blank"><img src="http://www.iconsdb.com/icons/preview/white/instagram-l.png" alt="Instagram"></a>
             <a href="#" class="ig-b-48 ig-b-48" target="_blank"><img src="http://www.iconsdb.com/icons/preview/white/youtube-3-l.png" alt="Youtube"></a>
        </div>

        <%= render 'layouts/footer' %>
        
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="slick/slick.min.js"></script>
        
        <script type="text/javascript">
                        $(document).ready(function(){
                            $('.center').slick({
                                    centerMode: true,
                                    infinite: true,
                                    centerPadding: '60px',
                                    slidesToShow: 3,
                                    responsive: [{
                                        breakpoint: 768,
                                        settings: {
                                            arrows: false,
                                            centerMode: true,
                                            centerPadding: '40px',
                                            slidesToShow: 3
                                        }
                                    }, {
                                        breakpoint: 480,
                                        settings: {
                                            arrows: false,
                                            centerMode: true,
                                            centerPadding: '40px',
                                            slidesToShow: 1
                                        }
                                    }]
                            });
                        });
        </script>
</body>
</html>
